{% extends "layout.html" %}

{% block title %}
    Check Out
{% endblock %}

{% block main %}
    <!-- This is the student check out page-->
    <h1>Check Out</h1>
    <h2>Before leaving, try to make sure your bin items are clean and bin contents are complete. </h2>

    <div>
        <form action = "/checkout" method = "post">
            {% for key, value in bin_contents.items() %}
            <div class="mb-3">
                <label for="{{ key }}">{{ value }}</label>
                <select autocomplete="off" autofocus class="form-control mx-auto w-auto" id="{{ key }}" name="{{ key }}" type="text">
                    <option selected disabled>Update Status</option>
                    {% for status in statusses %}
                    <option value="{{ status }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
