{% extends "layout.html" %}

{% block title %}
    Check In
{% endblock %}

{% block main %}
    <!-- This is the student check in page-->
    <h1>Check In </h1>
    <h2>Check all of the items in your bin and report its status. </h2>

    <div>
        <form action = "/checkin" method = "post">
            {% for key, value in bin_contents.items() %}

                <div class="mb-3">
                    <label for="{{ key }}">{{ value }}</label>
                    <select class="form-control mx-auto w-auto" id="{{ key }}" name="{{ key }}" type="text">
                        <option selected disabled>Update Status</option>
                        {% for status in statusses %}
                            <option value="{{ status }}">{{ status }}</option>
                        {% endfor %}
                    </select>
                    
                </div>

            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>        
    </div>

{% endblock %}