{% extends "layout.html" %}

{% block title %}
    Class Status
{% endblock %}

{% block main %}

    {% if request.method == "POST" %}
    <h1> {{ semester }} {{ crn }} Bin Status </h1>
    
        {% if bin_statusses %}

            <table class="table">
                <thead>
                    <tr>
                    {% for key in bin_statusses[0].keys() %}
                        {% if key != "bin_code" and key != "last_user_code" %}

                            <th scope="col">{{ key }}</th>

                        {% endif %}
                    {% endfor %}
                    </tr>
                    
                </thead>
                    <tbody>
                        {% for row in bin_statusses %}
                            <tr>
                                {% for key in row.keys() %}

                                    {% if key == "last_checkin_time" or key == "last_checkout_time" %}
                                    
                                        <td class = "date-time" id="{{ key }}">{{ row[key] }}</td>
                                    
                                    {% elif key != "bin_code" and key != "last_user_code" %}

                                        <td class = "status" id="{{ key }}">{{ row[key] }}</td>
                                    
                                    {% endif %}

                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}

                <div>No students registered yet</div>
                
        {% endif %}

    
        <script src = "/static/format_date_time.js"></script>

        <script src = "/static/status_change.js"></script>


    {% else %}

    <h1>Class Bin Status</h1>
    <h2>Find Class</h2>
    <div>
        <form id = "class" action = "/class_status" method = "post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="semester" name="semester" placeholder="Semester (i.e. - FA22)" type="text" maxlength="4">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="crn" name="crn" placeholder="CRN" type="number">
            </div>
            <button class="btn btn-primary" type="submit">Find Class</button>
        </form>        
    </div>

    <script src="/static/class_validation.js"></script>

    {% endif %}

{% endblock %}