{% extends "layout.html" %}

{% block title %}
    Edit Bin Statusses
{% endblock %}

{% block main %}
    <!-- This is the student registration page-->
    <h1 id = "header">Edit the status of an item in a bin. </h1>

    <div>
        <!-- User should be able to select which specific bin they want to edit before putting in the put-->
        <form action = "/edit_bin_status" method = "post">
            <div class="mb-3 input1">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto input1" id="room_num" name="room_num" placeholder="Room Number (i.e. - SV20)" type="text">
            </div>
            <div class="mb-3 input1">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto input1" id="bin_num" name="bin_num" placeholder="Bin Number" type="number">
            </div>
            <button class="btn btn-primary input1" type="button" id = "first_button">Find Bin</button>

            {% for key, value in bin_contents.items() %}

                <div class="mb-3 input2" style = "display: none;">
                    <label for="{{ key }}">{{ value }}</label>
                    <select class="form-control mx-auto w-auto" id="{{ key }}" name="{{ key }}" type="text">
                        <option selected disabled>{{ value }}</option>
                        {% for status in statusses %}
                            <option value="{{ status }}">Update Status</option>
                        {% endfor %}
                        </select>
                </div>

            {% endfor %}

            <div class="mb-3 input2" style= "display: none;">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>

        </form>        
    </div>

    <script src="/static/admin_edit_bin_status.js"></script>

{% endblock %}