{% extends "layout.html" %}

{% block title %}
    Student Register
{% endblock %}

{% block main %}
    <!-- This is the student registration page-->
    <h1>Register as a Student</h1>
    <div>
        <form id = "register" action = "/register" method = "post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="id" name="id" placeholder="PCC ID" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="fname" name="fname" placeholder="First Name" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lname" name="lname" placeholder="Last Name" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="E-mail" type="email">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>

        </form>        
    </div>

    <script>

        // Client side validation for email
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector('#register').addEventListener("submit", function(event){

                const email = document.querySelector("input[type='email']").value;
                const emailPattern = /^[^\s@]+@pasadena\.edu$/;
                const password = document.querySelector("#password").value;
                const confirmation = document.querySelector("#confirmation").value;
                
                if (!emailPattern.test(email)) {
                    event.preventDefault();
                    alert("Please enter a valid pasadena.edu email address.")
                }

                if (password != confirmation) {
                    event.preventDefault();
                    alert("Password and Confirm Password do not match")
                }

            }
            )
        });

     </script>

{% endblock %}