{% extends "layout.html" %}

{% block title %}
    Reset Email
{% endblock %}

{% block main %}
    <h1>Reset Password</h1>
    <form id = "reset_pass" action="/reset_verify/{{ token }}" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_pass" name="new_pass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" style = "margin-top: 20px;">Reset Password</button>
    </form>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#reset_pass').addEventListener("submit", function(event) {
                
                const new_pass = document.querySelector('new_pass').value;
                const confirmation = document.querySelector('confirmation').value;

                if (new_pass != confirmation) {
                    event.preventDefault();
                    alert("Password and confirmation do not match")
                }

            })
        });

    </script>

{% endblock %}