{% extends "layout.html" %}

{% block title %}
    Reset Email
{% endblock %}

{% block main %}
    <h1>Reset Password</h1>
    <form action="/reset_verify/<token>" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="E-mail" type="text">
        </div>
        <div>
            <label for = "role">Select Role: </label>
            <select id="role" name="role">
                <option value="students">Student</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" style = "margin-top: 20px;">Send Reset Link</button>
    </form>
{% endblock %}