{% extends "layout.html" %}

{% block title %}
    Bin Status
{% endblock %}

{% block main %}


<h1> Bin# {{ bin_status["bin_num"] }} Items Status </h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in bin_status.keys() %}
            {% if item != "bin_num" %}
                <tr>
                    <td>{{ bin_contents[item] }}</td>
                    <td id="{{ item }}" class="status">{{ bin_status[item] }}</td>
                </tr> 
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<script src = "/static/status_change.js"></script>

{% endblock %}