{% extends "layout.html" %}

{% block title %}
    Bin Status
{% endblock %}

{% block main %}


<h1> Bin# {{ bin_status["bin_num"] }} Items Status </h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in bin_status.keys() %}
            {% if item != "bin_num" %}
                <tr>
                    <td>{{ bin_contents[item] }}</td>
                    <td id="{{ item }}" class="status">{{ bin_status[item] }}</td>
                </tr> 
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<script>


       // Loop through every cell of class status
       let cells = document.getElementsByClassName("status")

        n = cells.length;

        for (let i = 0; i < n; i++) {
            // Set the cell as one piece of cell data
            let cell = cells[i]

            // Get the value of the item
            var value = cell.innerText;

            // Set the background color of the cell depending on value
            if (value == 'clean')
                {
                    cell.style.backgroundColor = 'rgba(38, 194, 129, 0.5)';
                }
            else if (value == 'missing')
                {
                    cell.style.backgroundColor = 'rgba(255,0,0,0.8)';
                }
            else if (value == 'partial')
                {
                    cell.style.backgroundColor = 'rgba(249, 180, 45, 0.5)';
                }
            else if (value == 'dirty')
                {
                    cell.style.backgroundColor = 'rgba(227, 186, 143, 1)';
                }
        }

</script>

{% endblock %}